.topbar {
    /* padding: 12px; */
    padding: 11px;
    /* border-bottom: 1px solid #e3e6f0; */
    z-index: 51;
    position: relative;
    background: #f8f9fc;
    margin-right: 12px;
}

.myactive {
    border-top: .2px solid #e3e6f0;
    border-left: .2px solid #e3e6f0;
    border-right: .2px solid #e3e6f0;
    padding-bottom: 18px;
}

.my-card {
    width: 700px;
    margin: auto;
    border: 2px solid;
    /* margin: 20px 0 20px 0; */
    margin-top: 20px;
    margin-bottom: 20px;
    background: #2196f3bf;
    border-radius: 20px;
    color: white;
}

.my-header {
    background-color: #0000ffb3;
    color: white;
    padding: 5px 5px 5px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media only screen and (min-width: 767px) {
    #content-wrapper {
        background-color: #f8f9fc;
        width: 100%;
        overflow-x: hidden;
        margin-left: 105px;
    }

    .my-sidebar {
        z-index: 54;
        /* top: 70px; */
    }

    .my-topbar {
        position: relative;
        width: 100%;
    }

    .my-fluid {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 767px) {
    #content-wrapper {
        background-color: #f8f9fc;
        width: 100%;
        overflow-x: hidden;
        margin-left: 0px;
    }

    .my-sidebar {
        z-index: 54;
        top: 70px;
    }

    .my-topbar {
        position: fixed;
        width: 100%;
    }

    .my-fluid {
        margin-top: 106px;
    }
}
